---
import { Image } from 'astro:assets';
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'Home', url: '/' },
  { name: 'Blog', url: '/blog/' },
  { name: 'DAO', url: 'https://daodao.zone/dao/juno1c5v6jkmre5xa9vf9aas6yxewc7aqmjy0rlkkyk4d88pnwuhclyhsrhhns6' },
  { name: 'FAQ', url: 'https://docs.netadao.zone/docs/faq/' },
];

const socialIcons = [
  {
    name: 'GitHub',
    url: 'https://github.com/netadao',
    icon: 'i-uil-github',
  },
  {
    name: 'Twitter',
    url: 'https://twitter.com/Neta_DAO',
    icon: 'i-uil-twitter',
  },
  {
    name: 'Discord',
    url: 'https://discord.netadao.zone/',
    icon: 'i-uil-discord',
  },
  { name: 'RSS', url: '/feed.xml', icon: 'i-uil-rss' },
];

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black bg-gray-900 text-gray-100 flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
    <a href='/' title='Back to Home' class='flex Justify-normal gap-1 items-center'>
    <Image
      src='https://nft.netadao.zone/_next/static/media/logo.2a40d3f2.png'
      alt="logo"
      width={100}
      height={100}
      class='rounded h-12 w-12 object-cover'
    />
    <p class='righteous md:text-5xl'>NetaDAØ</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              title={`'See @Neta_DAO on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
 <nav class='md:hidden flex'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul class='flex gap-8 '>
      <li><a href='/blog/' class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'>Blog</a></li>
      <li><a href='https://daodao.zone/dao/juno1c5v6jkmre5xa9vf9aas6yxewc7aqmjy0rlkkyk4d88pnwuhclyhsrhhns6' class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'>DAO</a></li>
      <li><a href='https://docs.netadao.zone/docs/faq/' class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'>FAQ</a></li>
    </ul>
  </nav>
</header>
