---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import Pill from '@components/Pill.astro';
import Button from '@components/Button.astro';
import Card from '@components/Card.astro';

const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  { name: 'DAODAO', url: 'https://daodao.zone/' },
  { name: 'Juno', url: 'https://junonetwork.io/' },
  { name: 'Akash', url: 'https://akash.network/' },
  {
    name: 'ContentCollections',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Sitemap',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];

const stakeWith = [
  { name: 'Stake JUNO', url: 'https://wallet.keplr.app/chains/juno?modal=validator&chain=juno-1&validator_address=junovaloper1f2jpv5sc6ur6yurq5w0t2chphrznpy8lfvj9vs' },
  { name: 'Stake AKT', url: 'https://wallet.keplr.app/chains/akash?modal=validator&chain=akashnet-2&validator_address=akashvaloper1f2jpv5sc6ur6yurq5w0t2chphrznpy8l86yse9' },
  { name: 'Stake JKL', url: 'https://ping.pub/jackal/staking/jklvaloper1s4rscs2jj7qydkkrsrc52rgvq38wwgrqdrcrdq' },
  { name: 'Stake JUNOX', url: 'https://en.wikipedia.org/wiki/Rickrolling' },
];
---

<Layout
  title='Home'
  pageTitle='NetaDAO | Home'
  description='NetaDAO is a community accelerator program.'
>
  <main class='bg-gradient-to-b from-gray-950 to-purple p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About NetaDAO</h2>
      <div class='col-span-4'>
        <Card color='#7d53de'>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Brutal Neta theme for <a
                class='text-white'
                target='_blank'
                href='https://astro.build/'>Astro</a
              >
            </p>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-3xl'>
              A minimalistic, neobrutalism theme for Astro.
            </p>
            <Button target={'_self'} href='/blog/'>
              Check out the NetaDAO blog &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card color='#FF715B'>
          <h2 class='text-2xl md:text-4xl outfit lg:text-6xl mb-8'>
            NetaDAO is built with
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='righteous'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card color='#F9CB40'>
          <h2 class='text-2xl md:text-4xl outfit lg:text-6xl mb-4'>
            Stake With US
          </h2>
          <p class='outfit text-xl md:text-2xl lg:text-2xl'>
            You can contribute to NetaDAO operations by staking with one of our validators:<br /><br />
          </p>
           <ul class='flex gap-4 flex-wrap'>
            {
              stakeWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='righteous'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
